<div class="card mb-8" style="width: 100rem;">
  <div class="card-body">
    <%= simple_form_for @task do |f| %>
      <div class="panel-body form-panel-body">
      <%= f.label :task_name %>
      <%= f.input_field :task_name %>
      </div>
      <%= f.label 'Target:' %>
      <%= render 'form_target_stream', f: f %>
      <%= f.label 'Source:' %>
      <%= render 'form_source_stream', f: f %>
      <div class="form-actions">
        <%= f.button :submit, class: "btn-success" %>
        <%= link_to 'Back', tasks_path, class: "btn btn-light" %>
      </div>
    <% end %>
  </div>
</div>

