<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>

  <div class="field">
    <%= form.label :target_username %>
    <%= form.text_field :target_username %>
  </div>

  <div class="field">
    <%= form.label :target_password %>
    <%= form.text_field :target_password %>
  </div>

  <div class="field">
    <%= form.label :source_username %>
    <%= form.text_field :source_username %>
  </div>

  <div class="field">
    <%= form.label :source_password %>
    <%= form.text_field :source_password %>
  </div>

  <div class="field">
    <%= form.label :source_pattern %>
    <%= form.text_field :source_pattern %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
