<div class="card mb-8" style="width: 100rem;">
  <div class="card-body">
    <%= simple_form_for @task do |f| %>
      <%= f.input :task_name %>
      <%= f.label 'Target:' %>
      <%= render 'stream_panel', f: f %>
      <%= f.label 'Source:' %>
      <%= render 'stream_panel', f: f , show_source_pattern: true %>
      <div class="form-actions">
        <%= f.button :submit, 'Create', class: "btn-success" %>
        <%= link_to 'Back', tasks_path, class: "btn btn-light" %>
      </div>
    <% end %>
  </div>
</div>

