<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <div style="margin-top:50px;"></div>
      <div class="row justify-content-center mb-1">
        <h3>New Task</h3>
        <div class="card mb-8" style="width: 100rem;">
          <div class="card-body">
            <%= simple_form_for(task, as: task, url: tasks_path(task)) do |f| %>
              <%= f.input :task_name %>
              <%= f.input :target_username %>
              <%= f.input :target_password %>
              <%= f.input :source_username %>
              <%= f.input :source_password %>
              <%= f.input :source_pattern %>
              <div class="form-actions">
                <%= f.button :submit, 'Create', class: "btn-primary" %>
                <%= link_to 'Back', tasks_path, class: "btn btn-light"  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
