<div class="card mb-8" style="width: 100rem;">
  <div class="card-body">
    <%= simple_form_for @task do |f| %>
      <%= f.input :task_name %>
      <%= f.label 'Target:' %>
      <div class="panel panel-default md-8">
        <div class="panel-body form-panel-body">
          <%= f.input :target_host, label: 'Host:' %>
          <div class='row'>
            <div class='col-md-4'>
              <%= f.input :target_protocol, label: 'Protocol:', collection: ['SFTP', 'S3', 'HTTPS', 'FILE'] %>
            </div>
            <div class='col-md-4'>
              <%= f.input :target_format, label: 'Format:', collection: ['AUTO', 'CSV', 'FIXED WIDTH FORMAT', 'JSON', 'PSV'] %>
            </div>
            <div class='col-md-4'>
              <%= f.input :target_stream, label: 'Stream:', collection: ['AUTO', 'ZIP', 'GZIP', 'BZIP2', 'CSV', 'PGP (Uses GnuPG)'] %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <%= f.input :target_username, label: 'Username:' %>
            </div>
            <div class='col-md-4'>
              <%= f.input :target_password, label: 'Password:' %>
            </div>
          </div>
        </div>
      </div>
      <%= f.label 'Source:' %>
      <div class="panel panel-default md-8">
        <div class="panel-body form-panel-body">
          <%= f.input :source_host, label: 'Host:' %>
          <div class='row'>
            <div class='col-md-4'>
              <%= f.input :source_protocol, label: 'Protocol:', collection: ['SFTP', 'S3', 'HTTPS', 'FILE'] %>
            </div>
            <div class='col-md-4'>
              <%= f.input :source_format, label: 'Format:', collection: ['AUTO', 'CSV', 'FIXED WIDTH FORMAT', 'JSON', 'PSV'] %>
            </div>
            <div class='col-md-4'>
              <%= f.input :source_stream, label: 'Stream:', collection: ['AUTO', 'ZIP', 'GZIP', 'BZIP2', 'CSV', 'PGP (Uses GnuPG)'] %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <%= f.input :source_username, label: 'Username:' %>
            </div>
            <div class='col-md-4'>
              <%= f.input :source_password, label: 'Password:' %>
            </div>
            <div class='col-md-4'>
              <%= f.input :source_pattern %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, 'Create', class: "btn-success" %>
        <%= link_to 'Back', tasks_path, class: "btn btn-light" %>
      </div>
    <% end %>
  </div>
</div>

