<div class="panel panel-default md-8">
  <div class="panel-body form-panel-body">
    <%= f.input :target_host, label: 'Host:' %>
    <div class='row'>
      <div class='col-md-4'>
        <%= f.input :target_protocol, label: 'Protocol:', collection: ['SFTP', 'S3', 'HTTPS', 'FILE'] %>
      </div>
      <div class='col-md-4'>
        <%= f.input :target_format, label: 'Format:', collection: ['AUTO', 'CSV', 'FIXED WIDTH FORMAT', 'JSON', 'PSV'] %>
      </div>
      <div class='col-md-4'>
        <%= f.input :target_stream, label: 'Stream:', collection: ['AUTO', 'ZIP', 'GZIP', 'BZIP2', 'CSV', 'PGP (Uses GnuPG)'] %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>
        <%= f.input :target_username, label: 'Username:' %>
      </div>
      <div class='col-md-4'>
        <%= f.input :target_password, label: 'Password:' %>
      </div>
      <% if local_assigns[:show_source_pattern] %>
        <div class='col-md-4'>
          <%= f.input :source_pattern %>
        </div>
      <% end %>
    </div>
  </div>
</div>