<div style="margin-top:50px;"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <table class="table">
        <thead>
        <tr>
          <th>Task name</th>
          <th>Source pattern</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.task_name %></td>
            <td><%= task.source_pattern %></td>
            <td><%= link_to 'Show', task, :class => "btn btn-secondary btn-sm active"  %>
            <%= link_to 'Edit', edit_task_path(task), :class => "btn btn-secondary btn-sm active"  %>
            <%= link_to 'Destroy', task, :class => "btn btn-danger btn-sm active",  method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
