<!DOCTYPE html>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-7'>
      <div class='task-margin-top'></div>
      <div class='row justify-content-center mb-1'>
        <div class='card mb-8 card-task'>
          <div class='card-body'>
            <table class='table-striped'>
              <thead class='task-thead'>
              <tr>
                <th class='task-th task-label'><%= t('task.name') %></th>
                <th class='task-th'><%= @task.task_name %></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class='task-td-show task-label'><%= t('task.target_host') %></td>
                <td class='task-td-show'><%= @task.target_host %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.target_username') %></td>
                <td class='task-td-show'><%= @task.target_username %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.target_protocol') %></td>
                <td class='task-td-show'><%= @task.target_protocol %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.target_format') %></td>
                <td class='task-td-show'><%= @task.target_format %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.target_stream') %></td>
                <td class='task-td-show'><%= @task.target_stream %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.source_host') %></td>
                <td class='task-td-show'><%= @task.source_host %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.source_username') %></td>
                <td class='task-td-show'><%= @task.source_username %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.source_protocol') %></td>
                <td class='task-td-show'><%= @task.source_protocol %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.source_format') %></td>
                <td class='task-td-show'><%= @task.source_format %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.source_stream') %></td>
                <td class='task-td-show'><%= @task.source_stream %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.source_pattern') %></td>
                <td class='task-td-show'><%= @task.source_pattern %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'><%= t('task.files') %></td>
                <td class='task-td-show'><%= @task.files.inspect %></td>
              </tr>
              </tbody>
            </table>
            <div class='task-margin-bottom'></div>
            <div class='form-actions'>
              <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-success' %>
              <%= link_to 'Back', tasks_path, class: 'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>