<!DOCTYPE html>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-7'>
      <div class='task-margin-top'></div>
      <div class='row justify-content-center mb-1'>
        <div class='card mb-8 card-task'>
          <div class='card-body'>
            <table class='table-striped'>
              <thead class='task-thead'>
              <tr>
                <th class='task-th task-label'>Task Name:</th>
                <th class='task-th'><%= @task.task_name %></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class='task-td-show task-label'>Target Username:</td>
                <td class='task-td-show'><%= @task.target_username %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Target Protocol:</td>
                <td class='task-td-show'><%= @task.target_protocol %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Target Format:</td>
                <td class='task-td-show'><%= @task.target_format %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Target Stream:</td>
                <td class='task-td-show'><%= @task.target_stream %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Source Username:</td>
                <td class='task-td-show'><%= @task.source_username %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Source Protocol:</td>
                <td class='task-td-show'><%= @task.source_protocol %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Source Format:</td>
                <td class='task-td-show'><%= @task.source_format %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Source Stream:</td>
                <td class='task-td-show'><%= @task.source_stream %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Source Pattern:</td>
                <td class='task-td-show'><%= @task.source_pattern %></td>
              </tr>
              <tr>
                <td class='task-td-show task-label'>Files:</td>
                <td class='task-td-show'><%= @task.files.inspect %></td>
              </tr>
              </tbody>
            </table>
            <div class='task-margin-bottom'></div>
            <div class='form-actions'>
              <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-success' %>
              <%= link_to 'Back', tasks_path, class: 'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>