<!DOCTYPE html>
<html>
<head>
  <title>File Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient">
      <a class="navbar-brand" href="#">File Monitor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" <%= link_to 'Tasks', tasks_path %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to 'New Task', new_task_path %> </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <a class="btn btn-outline-primary" <%= link_to "Logout", destroy_user_session_path, method: :delete %> </a>
          <% else %>
            <a class="btn btn-outline-primary" <%= link_to "Login", new_user_session_path %> </a>
            <div style="padding-left: 5px;">
              <a class="btn btn-outline-success" <%= link_to "Sign up", new_user_registration_path %> </a>
            </div>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
   </body>
</html>

